{
  "extends":        "airbnb-base",
  "env":            {
    "browser":      true,
    "node":         true,
    "jquery":       true,
    "greasemonkey": true
  },
  "rules":          {
    "no-alert":     0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": 0,
    }
}
